// =============================================================================
// Variables
// =============================================================================
$debug:	false;
$responsive-helper: false;

$spacing: 16px;
$spacing-s: $spacing/2;
$spacing-xs: $spacing/3;
$spacing-l: $spacing*2;
$spacing-xl: $spacing*3;
$spacing-xxl: $spacing*4;

$section-spacing: 10%;

$border-radius: 4px;
$border-radius-large: 32px;



// =============================================================================
// Variables - Colors
// =============================================================================
$colors: (
	brand: (
		brand-green: #77EDD0,
		brand-orange: #E6B657,
		brand-blue: #4ECAD5,
		brand-yellow: #F9E63A,
		dark-grey: #404040,
		light-grey: #EAEAEA
	),
	neutral: (
		base: #ddd,
		dark: #6a6a6a,
		light: #efefef
	),
	text: (
		base: #333,
		dark: #181822,
		reversed: #fff,
		link: #0087D0,
		hover: #000000
	),
	background: (
		white: #fff,
		grey: #404040,
		lightgrey: #EAEAEA,
		green-bright: #43EDC4
	),
	global: (
		header: #323232,
		footer: #323232
	),
	social: (
		facebook: #3B5998,
		twitter: #1DA1F2,
		instagram: #262626,
		youtube: #cc181e,
		linkedin: #0077B5
	)
);



// =============================================================================
// Variables - Typography
// =============================================================================

@font-face {
	font-family: 'Walsheim-Bold';
	font-weight: 400;
	src: url('../src/fonts/GT-Walsheim-Bold.eot'); /* IE9 Compat Modes */
	src: url('../src/fonts/GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../src/fonts/GT-Walsheim-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../src/fonts/GT-Walsheim-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../src/fonts/GT-Walsheim-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../src/fonts/GT-Walsheim-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Walsheim';
	font-weight: 100;
	src: url('../src/fonts/GT-Walsheim-Light.eot'); /* IE9 Compat Modes */
	src: url('../src/fonts/GT-Walsheim-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../src/fonts/GT-Walsheim-Light.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../src/fonts/GT-Walsheim-Light.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../src/fonts/GT-Walsheim-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../src/fonts/GT-Walsheim-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$font-stacks: (
	display: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"',
	bold: '"Walsheim-Bold", Times, "Times New Roman", serif',
	body: '"Walsheim", Times, "Times New Roman", serif',
	caption: '"Helvetica Neue", Helvetica, Arial, sans-serif',
	monospace: 'Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace'
);

$font-weights: (
	light: 300,
	normal: 400,
	bold: 700,
	heavy: 900
);


// =============================================================================
// Variables - Z-scale
// =============================================================================
$z-scale: (
	foreground: 1,
	image-schools: 9,
	overlay: 10,
	navigation: 100,
	modal: 200
);



// =============================================================================
// Variables - Responsive
// =============================================================================
$enable-flex: true;
$enable-grid-classes: true;

// Grid breakpoints
// Define the minimum dimensions at which your layout will change, adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
) !default;

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
