@charset "UTF-8";
@font-face {
  font-family: 'Walsheim-Bold';
  font-weight: 400;
  src: url("../src/fonts/GT-Walsheim-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../src/fonts/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"), url("../src/fonts/GT-Walsheim-Bold.woff2") format("woff2"), url("../src/fonts/GT-Walsheim-Bold.woff") format("woff"), url("../src/fonts/GT-Walsheim-Bold.ttf") format("truetype"), url("../src/fonts/GT-Walsheim-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Walsheim';
  font-weight: 100;
  src: url("../src/fonts/GT-Walsheim-Light.eot");
  /* IE9 Compat Modes */
  src: url("../src/fonts/GT-Walsheim-Light.eot?#iefix") format("embedded-opentype"), url("../src/fonts/GT-Walsheim-Light.woff2") format("woff2"), url("../src/fonts/GT-Walsheim-Light.woff") format("woff"), url("../src/fonts/GT-Walsheim-Light.ttf") format("truetype"), url("../src/fonts/GT-Walsheim-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.order-last {
  -webkit-box-ordinal-group: 14;
      -ms-flex-order: 13;
          order: 13; }

.order-0 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4; }

.order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5; }

.order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6; }

.order-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7; }

.order-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8; }

.order-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9; }

.order-10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10; }

.order-11 {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11; }

.order-12 {
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-sm-last {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13; }
  .order-sm-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9; }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10; }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11; }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-md-last {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13; }
  .order-md-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9; }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10; }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11; }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-lg-last {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13; }
  .order-lg-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9; }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10; }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11; }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .order-xl-last {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13; }
  .order-xl-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9; }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10; }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11; }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

article {
  position: relative;
  padding-bottom: 30%; }
  @media (min-width: 768px) {
    article {
      padding-bottom: 20%; } }
  article .blog-header {
    position: relative;
    padding: 30% 0 6.66667% 0;
    background: #4ECAD5;
    color: white;
    margin-bottom: 5%; }
    @media (min-width: 768px) {
      article .blog-header {
        padding: 15% 0 6.66667% 0; } }
    article .blog-header a {
      color: white;
      font-family: "Walsheim-Bold", Times, "Times New Roman", serif;
      text-decoration: none;
      font-size: 80%;
      margin-bottom: 6.66667%;
      display: block; }
    article .blog-header .time-date {
      font-size: 70%; }
    article .blog-header h1 {
      text-align: left !important;
      margin-top: 0.5em;
      color: white; }
  article h2 {
    text-align: left;
    margin: 0 0 0.5em 0 !important; }
  article .image-apple {
    position: absolute;
    width: 200px;
    right: 10%;
    bottom: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    z-index: 9; }
    @media (min-width: 768px) {
      article .image-apple {
        width: 460px;
        -webkit-transform: translateY(20px);
                transform: translateY(20px); } }

figure {
  margin: 0; }

figcaption {
  margin-top: 8px; }

figcaption p {
  font-size: 80%; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  padding: 20px 15px 30px 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;
  color: white;
  line-height: 1.4em;
  background-color: #404040;
  font-family: "Walsheim-Bold", Times, "Times New Roman", serif;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 0; }

input[type="submit"].center,
input[type="reset"].center,
input[type="button"].center {
  margin: 0 auto; }

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background: black;
  text-decoration: none;
  color: #fff; }

.required {
  color: #BF5D58; }

.standard--form {
  position: relative; }
  .standard--form__field {
    display: block;
    position: relative;
    margin: 0 5px 30px 0; }
    .standard--form__field input {
      -webkit-transition: .1s all linear;
      transition: .1s all linear; }
    .standard--form__field label {
      position: absolute;
      top: 13px;
      left: 15px;
      -webkit-transition: .1s all linear;
      transition: .1s all linear;
      cursor: text; }
    .standard--form__field.active label {
      top: -22px;
      font-size: .5em;
      opacity: 1;
      left: 0px; }
  .standard--form input[type="text"],
  .standard--form input[type="email"] {
    width: 100%; }

h1, h2, h3, h4, h5, h6 .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Walsheim-Bold", Times, "Times New Roman", serif;
  color: #333;
  line-height: 1.1;
  text-rendering: optimizelegibility;
  margin-bottom: 1em;
  margin-top: 0; }

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6, * + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6 {
  margin-top: 1.4em; }

h1, .h1 {
  text-align: center; }
  h1, .h1 {
    font-size: 28px; }
    @media screen and (min-width: 320px) {
      h1, .h1 {
        font-size: calc(28px + 22 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h1, .h1 {
        font-size: 50px; } }

h2, .h2 {
  font-size: 24px; }
  @media screen and (min-width: 320px) {
    h2, .h2 {
      font-size: calc(24px + 26 * ((100vw - 320px) / 880)); } }
  @media screen and (min-width: 1200px) {
    h2, .h2 {
      font-size: 50px; } }

h3, .h3 {
  line-height: 1.3; }
  h3, .h3 {
    font-size: 20px; }
    @media screen and (min-width: 320px) {
      h3, .h3 {
        font-size: calc(20px + 20 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h3, .h3 {
        font-size: 40px; } }

h4, .h4 {
  line-height: 1.3; }
  h4, .h4 {
    font-size: 18px; }
    @media screen and (min-width: 320px) {
      h4, .h4 {
        font-size: calc(18px + 12 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h4, .h4 {
        font-size: 30px; } }

img {
  max-width: 100%;
  vertical-align: middle; }

.gm-style img,
img[width],
img[height] {
  max-width: none; }

/* Images */
.entry-content img,
.comment-content img,
.widget img {
  max-width: 100%; }

img[class*="align"],
img[class*="wp-image-"] {
  height: auto; }

img.size-full {
  max-width: 100%;
  width: auto; }

a {
  color: #404040;
  text-decoration: underline; }

a:focus,
a:hover {
  color: #000000;
  text-decoration: underline; }

ol, ul {
  padding-left: 1.5em; }

dt {
  margin-top: 16px;
  font-weight: bold; }

dd {
  margin-left: 0; }

body {
  background-color: #fff;
  color: #404040;
  font-family: "Walsheim", Times, "Times New Roman", serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body {
    font-size: 18px; }
    @media screen and (min-width: 320px) {
      body {
        font-size: calc(18px + 12 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      body {
        font-size: 30px; } }

body {
  position: relative;
  overflow-x: hidden; }
  body.is-open {
    overflow: hidden; }

main {
  position: relative;
  padding: 30% 0 15% 0; }
  @media (min-width: 768px) {
    main {
      padding: 15% 0; } }

::-moz-selection {
  background: #ffb7b7;
  /* WebKit/Blink Browsers */ }

::selection {
  background: #ffb7b7;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #ffb7b7;
  /* Gecko Browsers */ }

.angle {
  position: absolute;
  width: 100%;
  height: 50px;
  overflow: hidden;
  left: 0; }
  @media (min-width: 576px) {
    .angle {
      height: 60px; } }
  @media (min-width: 768px) {
    .angle {
      height: 100px; } }
  @media (min-width: 992px) {
    .angle {
      height: 150px; } }
  @media (min-width: 1200px) {
    .angle {
      height: 150px; } }
  .angle:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 51vw; }
    @media (min-width: 576px) {
      .angle:after {
        border-width: 30px 51vw; } }
    @media (min-width: 768px) {
      .angle:after {
        border-width: 50px 51vw; } }
    @media (min-width: 992px) {
      .angle:after {
        border-width: 60px 51vw; } }
    @media (min-width: 1200px) {
      .angle:after {
        border-width: 70px 51vw; } }

.angle-yellow:after {
  border-color: transparent #F9E63A #F9E63A transparent; }

.angle-green:after {
  border-color: transparent #77EDD0 #77EDD0 transparent; }

.angle-blue:after {
  border-color: transparent #4ECAD5 #4ECAD5 transparent; }

.angle-grey:after {
  border-color: transparent #EAEAEA #EAEAEA transparent; }

.angle-orange:after {
  border-color: transparent #E6B657 #E6B657 transparent; }

.angle-top {
  top: -50px; }
  @media (min-width: 576px) {
    .angle-top {
      top: -60px; } }
  @media (min-width: 768px) {
    .angle-top {
      top: -100px; } }
  @media (min-width: 992px) {
    .angle-top {
      top: -150px; } }
  @media (min-width: 1200px) {
    .angle-top {
      top: -150px; } }

.angle-bottom {
  bottom: 0;
  z-index: 0; }

.angle-down {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1); }

.section-yellow {
  background: #F9E63A; }

.section-green {
  background: #77EDD0; }

.section-blue, .section-grey {
  color: white; }
  .section-blue h1, .section-blue h2, .section-blue h3, .section-blue h4, .section-blue p, .section-blue a, .section-grey h1, .section-grey h2, .section-grey h3, .section-grey h4, .section-grey p, .section-grey a {
    color: white; }

.section-blue {
  background: #4ECAD5; }

.section-orange {
  background: #E6B657; }

.section {
  padding: 10% 0; }

p, ul {
  margin-bottom: 1.4em;
  margin-top: 0; }
  p, ul {
    font-size: 18px; }
    @media screen and (min-width: 320px) {
      p, ul {
        font-size: calc(18px + 12 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      p, ul {
        font-size: 30px; } }

p.lead {
  font-size: 120%; }

strong {
  font-family: "Walsheim-Bold", Times, "Times New Roman", serif; }

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 8px solid #eeeeee; }

blockquote p {
  margin-bottom: 0.2em; }

blockquote footer {
  color: #999; }

table {
  margin-bottom: 16px; }

table th,
table td {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  -webkit-font-smoothing: antialiased; }

table th {
  border-width: 2px; }

table tr:last-child td {
  border-bottom: none; }

table tr:nth-child(even) {
  background: #eee; }

table tbody tr:hover {
  background: #f9f9f9; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px; }
  .wrapper--outer {
    position: relative;
    max-width: 1900px;
    margin: 0 auto;
    background-color: #EAEAEA; }

.accordion--item {
  margin-bottom: 0.75em; }
  .accordion--item__toggle {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #77EDD0;
    font-family: "Walsheim-Bold", Times, "Times New Roman", serif;
    line-height: 3; }
    .accordion--item__toggle:after {
      position: absolute;
      right: 1em;
      top: 0;
      display: block;
      width: 1em;
      line-height: 3;
      text-align: center;
      -webkit-transition: all .35s;
      transition: all .35s;
      content: url("../images/accordion-open.svg"); }
  .accordion--item__content {
    display: none;
    background: #77EDD0;
    padding: 1em; }
    .accordion--item__content p:last-child {
      margin-bottom: 0; }

/* Acordeon styles */
.accordion {
  /* :checked */
  /* Icon */ }
  .accordion .tab {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden; }
  .accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  .accordion label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #77EDD0;
    font-family: "Walsheim-Bold", Times, "Times New Roman", serif;
    line-height: 3;
    cursor: pointer; }
  .accordion .blue label {
    background: #2980b9; }
  .accordion .tab-content {
    max-height: 0;
    overflow: hidden;
    background: #77EDD0;
    -webkit-transition: max-height .35s;
    transition: max-height .35s; }
  .accordion .tab-content p {
    margin: 1em; }
  .accordion input:checked ~ .tab-content {
    max-height: 30em; }
  .accordion label::after {
    position: absolute;
    right: 1em;
    top: 0;
    display: block;
    width: 1em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    transition: all .35s; }
  .accordion input[type=checkbox] + label::after {
    content: url("../images/accordion-open.svg"); }
  .accordion input[type=checkbox]:checked + label::after {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    -webkit-filter: FlipW;
            filter: FlipW;
    -ms-filter: "FlipW"; }

.page-template-template-about nav a {
  color: white; }
  @media (max-width: 991.98px) {
    .page-template-template-about nav a {
      color: #404040; } }

.page-template-template-about .menu-button {
  color: white; }
  .page-template-template-about .menu-button:hover, .page-template-template-about .menu-button:focus {
    color: white !important; }
  .page-template-template-about .menu-button svg .svg-fill {
    fill: white !important; }

.page-template-template-about .menu-button--open {
  color: #404040; }
  .page-template-template-about .menu-button--open:hover, .page-template-template-about .menu-button--open:focus {
    color: #404040 !important; }
  .page-template-template-about .menu-button--open svg .svg-fill {
    fill: #404040 !important; }

.page-template-template-about .sub-menu li a {
  color: #404040; }

.is-open [role=banner] {
  position: fixed; }

[role=banner] {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  z-index: 1; }
  [role=banner] .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 30px; }
  [role=banner] .logo {
    width: 280px;
    max-width: 180px;
    position: absolute;
    top: 30px;
    display: inline-block;
    z-index: 2; }
    @media (min-width: 992px) {
      [role=banner] .logo {
        position: relative;
        max-width: 280px;
        top: 0px; } }
    [role=banner] .logo img {
      width: 100%; }
  [role=banner] nav {
    margin-left: auto; }
    [role=banner] nav .menu-button {
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none;
      font-family: "Walsheim-Bold", Times, "Times New Roman", serif;
      position: absolute;
      right: 30px;
      top: 40px;
      z-index: 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      [role=banner] nav .menu-button:hover, [role=banner] nav .menu-button:focus {
        color: #404040; }
      [role=banner] nav .menu-button svg {
        margin-left: 10px;
        margin-top: 4px;
        fill: #404040; }
        [role=banner] nav .menu-button svg .svg-fill {
          fill: #404040; }
      [role=banner] nav .menu-button .svg-open {
        display: block; }
      [role=banner] nav .menu-button .svg-close {
        display: none; }
      [role=banner] nav .menu-button--open .svg-open {
        display: none; }
      [role=banner] nav .menu-button--open .svg-close {
        display: block; }
      @media (min-width: 992px) {
        [role=banner] nav .menu-button {
          display: none; } }
    [role=banner] nav ul.menu {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      @media (max-width: 991.98px) {
        [role=banner] nav ul.menu {
          position: fixed;
          background: white;
          left: 0;
          top: 0;
          height: 100vh;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          width: 100%;
          z-index: 1;
          padding-top: 30%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          visibility: hidden;
          opacity: 0;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; } }
      [role=banner] nav ul.menu li {
        display: inline-block; }
        [role=banner] nav ul.menu li a {
          padding: 15px;
          text-decoration: none; }
          @media (max-width: 991.98px) {
            [role=banner] nav ul.menu li a {
              width: 100%;
              display: block;
              text-align: center;
              font-size: 30px; } }
          [role=banner] nav ul.menu li a:hover {
            text-decoration: underline; }
      [role=banner] nav ul.menu .sub-menu {
        position: absolute;
        min-width: 200px;
        background: #fff;
        z-index: 5;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0;
        padding: 0;
        padding: 15px 20px;
        border-radius: 5px;
        -webkit-transform: translateY(0) translateX(-30%);
                transform: translateY(0) translateX(-30%);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .2s ease;
        transition: .2s ease; }
        [role=banner] nav ul.menu .sub-menu li a {
          display: inline-block;
          padding: 10px 0;
          text-decoration: none; }
          [role=banner] nav ul.menu .sub-menu li a:hover {
            text-decoration: underline; }
    [role=banner] nav .menu-show {
      visibility: visible !important;
      opacity: 1 !important; }

ul.menu li:hover > .sub-menu {
  opacity: 1;
  visibility: hidden;
  -webkit-transform: translateY(10px) translateX(-30%);
          transform: translateY(10px) translateX(-30%);
  -webkit-transition: .2s ease;
  transition: .2s ease; }
  @media (min-width: 992px) {
    ul.menu li:hover > .sub-menu {
      visibility: visible; } }

[role=contentinfo] {
  background: #D9D9D9;
  position: relative; }
  [role=contentinfo] .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 768px) {
      [role=contentinfo] .wrapper {
        padding: 80px 30px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
  [role=contentinfo] .logo {
    width: 280px;
    max-width: 180px;
    display: inline-block;
    margin-right: 0; }
    @media (min-width: 768px) {
      [role=contentinfo] .logo {
        max-width: 280px;
        margin-right: 48px; } }
    [role=contentinfo] .logo img {
      width: 100%; }
  [role=contentinfo] .footer-links {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    @media (min-width: 768px) {
      [role=contentinfo] .footer-links {
        margin-left: auto;
        text-align: left;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    [role=contentinfo] .footer-links nav {
      margin: 30px 0; }
      @media (min-width: 768px) {
        [role=contentinfo] .footer-links nav {
          margin: 0 64px 0 0; } }
      [role=contentinfo] .footer-links nav ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0; }
        [role=contentinfo] .footer-links nav ul li {
          padding-left: 0;
          margin-left: 0; }
          [role=contentinfo] .footer-links nav ul li a {
            color: #404040;
            opacity: 0.6;
            text-decoration: none; }
            [role=contentinfo] .footer-links nav ul li a:hover {
              text-decoration: underline; }
    [role=contentinfo] .footer-links .footer-social {
      margin-top: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
          align-content: center; }
      [role=contentinfo] .footer-links .footer-social a {
        width: 40px;
        margin-right: 16px; }
        [role=contentinfo] .footer-links .footer-social a:last-child {
          width: 45px;
          margin-right: 0; }

.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;
  color: white;
  background-color: #404040;
  font-family: "Walsheim-Bold", Times, "Times New Roman", serif;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .btn:hover, .btn:focus {
    outline: 0;
    color: white;
    text-decoration: none;
    background-color: #000000;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }

.banner h1, .banner h2 {
  text-align: left; }

.banner--home {
  padding: 40% 0 20% 0;
  background-color: #43EDC4;
  position: relative;
  z-index: 0; }
  @media (min-width: 576px) {
    .banner--home {
      padding: 20% 0 20% 0; } }
  @media (min-width: 768px) {
    .banner--home {
      padding: 15% 0 20% 0; } }
  @media (max-width: 767.98px) {
    .banner--home h1 br {
      display: none; } }
  .banner--home__image {
    position: absolute;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    width: 100%; }
    @media (min-width: 768px) {
      .banner--home__image {
        -webkit-transform: translateY(-30%);
                transform: translateY(-30%); } }
  .banner--home p {
    position: relative;
    z-index: 1;
    margin-bottom: 3em; }
    @media (min-width: 576px) {
      .banner--home p {
        margin-bottom: 1.4em; } }

.banner--about {
  padding: 40% 0 10% 0;
  background-color: #404040; }
  @media (min-width: 576px) {
    .banner--about {
      padding: 20% 0 10% 0; } }
  .banner--about img {
    margin-bottom: 50px; }

.blog {
  position: relative;
  padding: 30% 0 15% 0; }
  @media (min-width: 768px) {
    .blog {
      padding: 20% 0 10% 0; } }
  @media (min-width: 768px) {
    .blog h2 {
      font-size: 1.85em; } }
  .blog .image-computer {
    margin-top: 0px; }
    @media (min-width: 768px) {
      .blog .image-computer {
        margin-top: 0px; } }
    @media (min-width: 992px) {
      .blog .image-computer {
        margin-top: -10%; } }

.blog-list {
  padding: 10% 0;
  position: relative;
  background: #4ECAD5; }
  .blog-list p, .blog-list a, .blog-list h1, .blog-list h2, .blog-list h3, .blog-list h4 {
    color: white;
    text-decoration: none; }
  .blog-list--item {
    margin-bottom: 60px;
    display: block; }
    .blog-list--item h2, .blog-list--item h3 {
      margin: 0; }
    .blog-list--item .time-date {
      font-size: 70%;
      margin: 10px 0; }
      @media (min-width: 768px) {
        .blog-list--item .time-date {
          margin: 20px 0; } }
    @media (max-width: 767.98px) {
      .blog-list--item .wp-post-image {
        display: none; } }
    .blog-list--item:hover h2, .blog-list--item:hover h3 {
      text-decoration: underline; }

.jobs {
  position: relative;
  padding: 30% 0 15% 0; }
  @media (min-width: 768px) {
    .jobs {
      padding: 20% 0 5% 0; } }
  @media (min-width: 768px) {
    .jobs h2 {
      font-size: 1.85em; } }
  .jobs .image-jobs {
    margin-top: 0px; }
    @media (min-width: 768px) {
      .jobs .image-jobs {
        margin-top: 0px; } }
    @media (min-width: 992px) {
      .jobs .image-jobs {
        margin-top: -10%; } }
  .jobs-list {
    padding: 6.66667% 0 0 0;
    background: white; }
    .jobs-list .image-job-people {
      max-width: 400px;
      -webkit-transform: translateY(40px);
              transform: translateY(40px); }

.standard--form {
  position: relative; }
  .standard--form__field {
    display: block;
    position: relative;
    margin: 0 5px 30px 0; }
    .standard--form__field input {
      -webkit-transition: .1s all linear;
      transition: .1s all linear; }
    .standard--form__field label {
      position: absolute;
      top: 13px;
      left: 15px;
      -webkit-transition: .1s all linear;
      transition: .1s all linear;
      cursor: text; }
    .standard--form__field.active label {
      top: -22px;
      font-size: .5em;
      opacity: 1;
      left: 0px; }
  .standard--form input[type="text"],
  .standard--form input[type="email"] {
    width: 100%; }

.products {
  position: relative;
  padding: 10% 0 15% 0; }
  .products h1, .products h2 {
    margin-bottom: 10%; }
  .products h2 {
    text-align: center; }

.products-page {
  position: relative;
  padding: 30% 0 15% 0; }
  @media (min-width: 768px) {
    .products-page {
      padding: 15% 0; } }
  .products-page h1, .products-page h2 {
    margin-bottom: 10%; }

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 576px) {
    .products-list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media (min-width: 768px) {
    .products-list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .products-list .col-sm-3, .products-list .col-12 {
    padding: 0; }
  .products-list p {
    margin-top: 16px;
    margin-bottom: 64px; }
    @media (min-width: 768px) {
      .products-list p {
        margin-top: 32px; } }
  .products-list a {
    font-weight: 700;
    text-decoration: none; }
    .products-list a .h3 {
      color: white; }
    .products-list a:hover .products-list--item__image {
      background-color: #E6B657;
      -webkit-transition: background .4s ease;
      transition: background .4s ease; }
      .products-list a:hover .products-list--item__image img {
        top: -40px;
        -webkit-transition: top .4s ease;
        transition: top .4s ease; }
  .products-list--item {
    padding: 0;
    margin-bottom: 32px; }
    @media (min-width: 768px) {
      .products-list--item {
        margin: 0; } }
    .products-list--item span br {
      display: none; }
      @media (min-width: 576px) {
        .products-list--item span br {
          display: inline-block; } }
    .products-list--item__image {
      background-color: #fff;
      border: 20px solid #F2F2F2;
      border-width: 20px 20px 60px 20px;
      height: 100vw;
      max-height: 302px;
      text-align: center;
      margin-bottom: 16px;
      -webkit-transition: background .4s ease;
      transition: background .4s ease; }
      @media (min-width: 576px) {
        .products-list--item__image {
          margin-bottom: 32px;
          height: 22vw;
          border-width: 10px 10px 30px 10px; } }
      @media (min-width: 768px) {
        .products-list--item__image {
          margin-bottom: 32px;
          height: 22vw;
          border-width: 20px 20px 60px 20px; } }
      .products-list--item__image img {
        top: -30px;
        position: relative;
        -webkit-transition: top .4s ease;
        transition: top .4s ease; }
      .products-list--item__image .image-app {
        width: 60%;
        max-width: 180px; }
      .products-list--item__image .image-schools {
        width: 280px; }
      .products-list--item__image .image-cards {
        width: 280px; }

.products-app .image-app {
  width: 80%;
  padding: 0 30px 30px 30px; }

.products-schools .wrapper {
  position: relative; }

.products-schools .image-dreaming {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 576px) {
    .products-schools .image-dreaming {
      width: 40%;
      margin: -18% 0 0 0;
      position: absolute; } }

.products-schools .image-schools {
  position: absolute;
  padding: 0 30px;
  height: 350px;
  right: 0;
  z-index: 9; }

.products-challenges {
  padding: 300px 0 10% 0;
  position: relative; }
  @media (min-width: 768px) {
    .products-challenges {
      padding: 350px 0 300px 0; } }
  @media (min-width: 992px) {
    .products-challenges {
      padding: 200px 0 300px 0; } }
  .products-challenges .image-secretary {
    padding: 0 50px 0 30px; }
    @media (min-width: 768px) {
      .products-challenges .image-secretary {
        padding: 0 80px 0 30px; } }
    @media (min-width: 992px) {
      .products-challenges .image-secretary {
        padding: 0 140px 0 30px; } }
  .products-challenges .image-playing {
    padding: 0 30px 0 0;
    margin: 60px 0; }
  .products-challenges .image-mirror {
    padding: 0 30px 0 0; }
  .products-challenges .image-apple {
    position: absolute;
    width: 460px;
    right: 0;
    bottom: 0px;
    -webkit-transform: translateY(330px);
            transform: translateY(330px);
    z-index: 9;
    display: none; }
    @media (min-width: 768px) {
      .products-challenges .image-apple {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex; } }

.products-games {
  padding: 30% 0 15% 0; }
  @media (min-width: 768px) {
    .products-games {
      padding: 15% 0 10% 0; } }
  .products-games .trumps-packs {
    margin-top: 64px; }
  .products-games--board {
    padding: 5% 0 10% 0; }

.image-resize {
  padding: 0 60px; }

.pagination .screen-reader-text {
  display: none; }

.pagination .nav-links {
  text-align: center; }
  .pagination .nav-links .page-numbers {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 0;
    width: 45px;
    display: inline-block;
    color: #404040;
    font-size: 20px; }
    .pagination .nav-links .page-numbers:hover {
      background: white; }
  .pagination .nav-links .prev, .pagination .nav-links .next {
    display: none; }
  .pagination .nav-links .current {
    background: white;
    padding: 10px 17px; }

.social-purpose {
  padding: 6.66667% 0 10% 0; }
  .social-purpose h2 {
    text-align: center;
    margin-bottom: 10%; }
  .social-purpose .image-plant {
    margin-bottom: 30px; }
  .social-purpose .image-watering {
    width: 65%;
    -webkit-transform: translate(0, -250%);
            transform: translate(0, -250%);
    margin-bottom: 10%;
    position: absolute;
    right: 0; }
    @media (min-width: 768px) {
      .social-purpose .image-watering {
        position: relative;
        width: 80%;
        -webkit-transform: translateX(-20%);
                transform: translateX(-20%); } }
  .social-purpose h2 {
    text-align: center; }

.video {
  padding: 40% 0 10% 0;
  text-align: center;
  position: relative; }
  @media (min-width: 768px) {
    .video {
      padding: 25% 0 10% 0; } }
  .video--container {
    position: relative;
    margin-bottom: 32px; }
    @media (min-width: 768px) {
      .video--container {
        margin-bottom: 64px; } }
    .video--container__video {
      width: 100%;
      height: auto;
      height: 0;
      padding-top: 25px;
      padding-bottom: 67.5%;
      margin-bottom: 10px;
      position: relative;
      overflow: hidden; }
      .video--container__video embed, .video--container__video iframe, .video--container__video object, .video--container__video video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute; }
    .video--container__placeholder {
      height: 200px;
      background: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
      @media (min-width: 576px) {
        .video--container__placeholder {
          height: 350px; } }
      @media (min-width: 768px) {
        .video--container__placeholder {
          height: 700px; } }
    .video--container__image {
      width: 200px;
      position: absolute;
      left: -40px;
      bottom: -30px; }
      @media (max-width: 767.98px) {
        .video--container__image {
          display: none; } }

.app-video {
  padding: 20% 0 5% 0;
  position: relative; }
  @media (min-width: 768px) {
    .app-video {
      padding: 10% 0 5% 0; } }
  .app-video--container {
    position: relative;
    margin-bottom: 64px; }
    .app-video--container__video {
      width: 100%;
      height: auto;
      height: 0;
      padding-top: 25px;
      padding-bottom: 67.5%;
      margin-bottom: 10px;
      position: relative;
      overflow: hidden; }
      .app-video--container__video embed, .app-video--container__video iframe, .app-video--container__video object, .app-video--container__video video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute; }
    .app-video--container__image {
      position: absolute;
      left: 0px;
      bottom: 0px; }

/* Slider */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-arrow.slick-hidden {
  display: none; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 40px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  background: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    color: transparent; }
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
    line-height: 1;
    color: #404040;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -15px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -15px; }
  .slick-prev:before {
    content: url("../images/arrow-prev.svg"); }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -15px; }
  [dir="rtl"] .slick-next {
    left: -15px;
    right: auto; }
  .slick-next:before {
    content: url("../images/arrow-next.svg"); }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.supported-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 1; }

/* Slider */
.testimonial-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
  .testimonial-slider .slick-slide {
    padding: 0; }
  .testimonial-slider .slick-next {
    right: 10px; }
    @media (min-width: 768px) {
      .testimonial-slider .slick-next {
        right: 10px; } }
    @media (min-width: 992px) {
      .testimonial-slider .slick-next {
        right: 50px; } }
  .testimonial-slider .slick-prev {
    margin-left: 30px;
    left: 10px;
    margin-left: 0;
    z-index: 1; }
    @media (min-width: 768px) {
      .testimonial-slider .slick-prev {
        left: 33.33333%;
        margin-left: 10px; } }
    @media (min-width: 992px) {
      .testimonial-slider .slick-prev {
        left: 33.33333%;
        margin-left: 50px; } }
  .testimonial-slider .slick-prev,
  .testimonial-slider .slick-next {
    height: 40px;
    width: 20px;
    opacity: 0.6; }
    @media (min-width: 768px) {
      .testimonial-slider .slick-prev,
      .testimonial-slider .slick-next {
        height: 80px;
        width: 40px; } }
    .testimonial-slider .slick-prev:hover,
    .testimonial-slider .slick-next:hover {
      opacity: 1; }

.testimonial-slider .slick-track,
.testimonial-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.carousel-testimonials {
  padding: 10% 0 10% 0;
  position: relative; }
  @media (min-width: 768px) {
    .carousel-testimonials {
      margin: 0; } }
  .carousel-testimonials--item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
    @media (min-width: 768px) {
      .carousel-testimonials--item {
        padding: 0; } }
    .carousel-testimonials--item__content {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
      background: #f2f2f2;
      border-radius: 30px;
      padding: 30px 40px;
      position: relative; }
      @media (min-width: 768px) {
        .carousel-testimonials--item__content {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 66.66667%;
                  flex: 0 0 66.66667%;
          max-width: 66.66667%;
          margin-left: 8.3333%;
          border-radius: 50px;
          padding: 50px 80px; } }
      @media (min-width: 992px) {
        .carousel-testimonials--item__content {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 66.66667%;
                  flex: 0 0 66.66667%;
          max-width: 66.66667%;
          margin-left: 8.3333%;
          border-radius: 50px;
          padding: 50px 140px; } }
      .carousel-testimonials--item__content:after {
        content: '';
        display: inline;
        position: absolute;
        left: 40px;
        top: 0px;
        border: 40px solid transparent;
        border-bottom-color: #f2f2f2;
        border-right: 0;
        border-top: 0;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px); }
        @media (min-width: 768px) {
          .carousel-testimonials--item__content:after {
            left: 0;
            top: 120px;
            border: 120px solid transparent;
            border-right-color: #f2f2f2;
            border-left: 0;
            border-bottom: 0;
            -webkit-transform: translateX(-120px);
                    transform: translateX(-120px); } }
      .carousel-testimonials--item__content .content {
        display: block;
        font-style: italic;
        margin-bottom: 1.4em; }
      .carousel-testimonials--item__content p:last-child {
        margin: 0; }
    .carousel-testimonials--item__image {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 30%;
              flex: 0 0 30%;
      max-width: 30%;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      position: absolute;
      left: 50%;
      display: none; }
      @media (min-width: 576px) {
        .carousel-testimonials--item__image {
          display: block;
          max-width: 20%; } }
      @media (min-width: 768px) {
        .carousel-testimonials--item__image {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 25%;
                  flex: 0 0 25%;
          max-width: 25%;
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          margin-top: auto;
          position: relative;
          left: 0; } }

/* Slider */
.supported-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  padding: 0 50px;
  display: none; }
  @media (min-width: 768px) {
    .slick-slide {
      padding: 0 90px; } }
  @media (min-width: 992px) {
    .slick-slide {
      padding: 0 70px; } }
  @media (min-width: 1200px) {
    .slick-slide {
      padding: 0 60px; } }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.supported-slider .slick-track,
.supported-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.supported {
  padding: 10% 0;
  text-align: center;
  background: white; }

.carousel-supported {
  background: none; }

.values {
  padding: 10% 0 0 0; }

.team {
  background: white;
  padding: 10% 0; }
  .team h2 {
    text-align: center; }
  .team-member {
    margin-bottom: 32px;
    background: #EAEAEA; }
    @media (min-width: 768px) {
      .team-member {
        margin-bottom: 64px; } }
    .team-member:nth-child(odd) .team-member--image {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      margin-left: 0; }
      @media (min-width: 576px) {
        .team-member:nth-child(odd) .team-member--image {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          margin-left: 8.33333%; } }
    .team-member:nth-child(odd) .team-member--content {
      padding-left: 8.33333%; }
    .team-member--image {
      text-align: center;
      padding: 0 30px; }
      .team-member--image img {
        max-height: 220px;
        top: -20px;
        position: relative; }
        @media (min-width: 576px) {
          .team-member--image img {
            top: 0px;
            max-height: 380px; } }
    .team-member--image-bob {
      text-align: center;
      padding: 0 30px;
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0; }
      @media (min-width: 576px) {
        .team-member--image-bob {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1; } }
      .team-member--image-bob img {
        max-height: 220px;
        top: -20px;
        position: relative; }
        @media (min-width: 576px) {
          .team-member--image-bob img {
            top: 0px;
            max-height: 480px; } }
    .team-member--content {
      padding: 32px;
      padding-bottom: calc(32px - 20px);
      top: -20px;
      position: relative; }
      @media (min-width: 576px) {
        .team-member--content {
          padding: 48px 0 80px 0;
          top: 0; } }
      .team-member--content p:last-child {
        margin-bottom: 0; }
    .team-member p {
      margin-bottom: 16px;
      font-size: 80%; }

.ambassadors {
  padding: 0 0 10% 0;
  background: white; }
  .ambassadors h2 {
    text-align: center; }
  .ambassadors .ambassadors-list {
    padding: 5% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -10px; }
    .ambassadors .ambassadors-list--item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%;
      padding: 0 10px; }
      @media (min-width: 768px) {
        .ambassadors .ambassadors-list--item {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 25%;
                  flex: 0 0 25%;
          max-width: 25%; } }
      .ambassadors .ambassadors-list--item__image img {
        position: relative; }
      .ambassadors .ambassadors-list--item__content {
        margin: 16px 0 32px 0; }
        @media (min-width: 768px) {
          .ambassadors .ambassadors-list--item__content {
            margin: 48px 0 0 0; } }
        .ambassadors .ambassadors-list--item__content p {
          margin: 0; }

.foundation {
  padding: 5% 0 20% 0;
  position: relative; }
  @media (min-width: 768px) {
    .foundation {
      padding: 5% 0 10% 0; } }

.media-kit {
  padding: 6.66667% 0 10% 0;
  position: relative; }
  .media-kit img {
    margin-bottom: 32px; }
    @media (min-width: 768px) {
      .media-kit img {
        margin-bottom: 96px; } }

.newsletter {
  padding: 10% 0; }

.testimonials {
  position: relative;
  background: #77EDD0;
  padding: 30% 0 15% 0;
  z-index: 0; }
  @media (min-width: 768px) {
    .testimonials {
      padding: 15% 0; } }
  .testimonials--background {
    position: absolute;
    width: 100%;
    top: 25%;
    height: 50%;
    z-index: -1; }
  .testimonials--item {
    margin-bottom: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 180px; }
    .testimonials--item:nth-child(odd) .testimonials--item__image {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .testimonials--item:nth-child(odd) .testimonials--item__content {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin-right: 8.3333%;
      margin-left: 0; }
      .testimonials--item:nth-child(odd) .testimonials--item__content:after {
        content: '';
        position: absolute;
        right: 40px;
        left: auto;
        top: 0px;
        width: 0;
        height: 0;
        border: 40px solid transparent;
        border-bottom-color: #f2f2f2;
        border-left: 0;
        border-top: 0;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px); }
        @media (min-width: 768px) {
          .testimonials--item:nth-child(odd) .testimonials--item__content:after {
            left: auto;
            top: 200px;
            width: 0;
            height: 0;
            border: 120px solid transparent;
            border-left-color: #f2f2f2;
            border-right: 0;
            border-top: 0;
            -webkit-transform: translateX(120px);
                    transform: translateX(120px); } }
    .testimonials--item__image {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 30%;
              flex: 0 0 30%;
      max-width: 30%;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      position: absolute;
      -webkit-transform: translate(-50%, -90%) scaleX(-1);
              transform: translate(-50%, -90%) scaleX(-1);
      left: 50%; }
      @media (min-width: 576px) {
        .testimonials--item__image {
          max-width: 20%; } }
      @media (min-width: 768px) {
        .testimonials--item__image {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 25%;
                  flex: 0 0 25%;
          max-width: 25%;
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          margin-top: 60px;
          position: relative;
          -webkit-transform: translate(0, 0);
                  transform: translate(0, 0);
          left: 0; } }
    .testimonials--item__content {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
      background: #f2f2f2;
      border-radius: 30px;
      padding: 30px;
      position: relative; }
      @media (min-width: 768px) {
        .testimonials--item__content {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 66.66667%;
                  flex: 0 0 66.66667%;
          max-width: 66.66667%;
          margin-left: 8.3333%;
          border-radius: 50px;
          padding: 50px; } }
      .testimonials--item__content:after {
        content: '';
        display: inline;
        position: absolute;
        left: 40px;
        top: 0px;
        border: 40px solid transparent;
        border-bottom-color: #f2f2f2;
        border-right: 0;
        border-top: 0;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px); }
        @media (min-width: 768px) {
          .testimonials--item__content:after {
            left: 0;
            top: 200px;
            border: 120px solid transparent;
            border-right-color: #f2f2f2;
            border-left: 0;
            border-top: 0;
            -webkit-transform: translateX(-120px);
                    transform: translateX(-120px); } }
      .testimonials--item__content .content {
        display: block;
        font-style: italic;
        margin-bottom: 1.4em; }
      .testimonials--item__content p:last-child {
        margin: 0; }

.testimonials-kids {
  padding: 6.66667% 0 0 0;
  position: relative; }
  .testimonials-kids--item__content {
    background: #f2f2f2;
    border-radius: 30px;
    padding: 30px;
    position: relative; }
    @media (min-width: 768px) {
      .testimonials-kids--item__content {
        border-radius: 50px;
        padding: 50px; } }
    .testimonials-kids--item__content:after {
      content: '';
      display: none; }
    .testimonials-kids--item__content:before {
      content: url("../images/testimonial-kids-speech.svg");
      position: absolute;
      bottom: 2px;
      left: 50%;
      -webkit-transform: translate(-50%, 100%);
              transform: translate(-50%, 100%);
      width: 80%; }
    .testimonials-kids--item__content .content {
      display: block;
      font-style: italic;
      margin-bottom: 1.4em; }
  .testimonials-kids--item img {
    position: relative;
    margin-top: -50px; }
    @media (min-width: 768px) {
      .testimonials-kids--item img {
        margin-top: -150px; } }

.contact {
  padding: 30% 0 15% 0; }
  @media (min-width: 768px) {
    .contact {
      padding: 20% 0 10% 0; } }
  .contact--image {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 768px) {
      .contact--image {
        width: 40%; } }

.contact-details {
  padding: 5% 0 10% 0;
  position: relative; }

.u-bold {
  font-weight: bold !important; }

.u-semibold {
  font-weight: 600 !important; }

.u-regular {
  font-weight: normal !important; }

.u-light {
  font-weight: 300 !important; }

.u-italic {
  font-style: italic !important; }

.u-caps {
  text-transform: uppercase !important; }

.u-left-align {
  text-align: left !important; }

.u-center {
  text-align: center !important; }

.u-right-align {
  text-align: right !important; }

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.mobile-hide {
  display: none; }
  @media (min-width: 576px) {
    .mobile-hide {
      display: inline; } }

.u-m0 {
  margin: 0 !important; }

.u-mt0 {
  margin-top: 0 !important; }

.u-mr0 {
  margin-right: 0 !important; }

.u-mb0 {
  margin-bottom: 0 !important; }

.u-ml0 {
  margin-left: 0 !important; }

.u-m1 {
  margin: 8px !important; }

.u-mt1 {
  margin-top: 8px !important; }

.u-mr1 {
  margin-right: 8px !important; }

.u-mb1 {
  margin-bottom: 8px !important; }

.u-ml1 {
  margin-left: 8px !important; }

.u-m2 {
  margin: 16px !important; }

.u-mt2 {
  margin-top: 16px !important; }

.u-mr2 {
  margin-right: 16px !important; }

.u-mb2 {
  margin-bottom: 16px !important; }

.u-ml2 {
  margin-left: 16px !important; }

.u-m3 {
  margin: 48px !important; }

.u-mt3 {
  margin-top: 48px !important; }

.u-mr3 {
  margin-right: 48px !important; }

.u-mb3 {
  margin-bottom: 48px !important; }

.u-ml3 {
  margin-left: 48px !important; }

.u-m4 {
  margin: 32px !important; }

.u-mt4 {
  margin-top: 32px !important; }

.u-mr4 {
  margin-right: 32px !important; }

.u-mb4 {
  margin-bottom: 32px !important; }

.u-ml4 {
  margin-left: 32px !important; }

.u-m5 {
  margin: 64px !important; }

.u-mt5 {
  margin-top: 64px !important; }

.u-mr5 {
  margin-right: 64px !important; }

.u-mb5 {
  margin-bottom: 64px !important; }

.u-ml5 {
  margin-left: 64px !important; }

.u-mxn1 {
  margin-right: 8px !important;
  margin-left: 8px !important; }

.u-mxn2 {
  margin-right: 16px !important;
  margin-left: 16px !important; }

.u-mxn3 {
  margin-right: 32px !important;
  margin-left: 32px !important; }

.u-p0 {
  padding: 0 !important; }

.u-pt0 {
  padding-top: 0 !important; }

.u-pr0 {
  padding-right: 0 !important; }

.u-pb0 {
  padding-bottom: 0 !important; }

.u-pl0 {
  padding-left: 0 !important; }

.u-p1 {
  padding: 8px !important; }

.u-py1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.u-px1 {
  padding-right: 8px !important;
  padding-left: 8px !important; }

.u-p2 {
  padding: 16px !important; }

.u-py2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.u-px2 {
  padding-right: 16px !important;
  padding-left: 16px !important; }

.u-p3 {
  padding: 32px !important; }

.u-py3 {
  padding-top: 32px !important;
  padding-bottom: 32px !important; }

.u-px3 {
  padding-right: 32px !important;
  padding-left: 32px !important; }

img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.show-grid .row > div {
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px; }

@media print {
  * {
    background: #ffffff;
    color: #000000 !important; }
  html {
    font: 100%/1.5 Arial, serif; }
  /**
 * Hide
 */
  .header,
  .footer {
    display: none; }
  /**
 * Make full-width
 */
  .unit {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important; } }

header {
  border-bottom: 1px solid #EEE; }

header h4 {
  margin: 0;
  line-height: 70px; }

.subtitle {
  color: #999;
  text-transform: uppercase;
  margin-top: 32px;
  font-weight: 400; }

.swatch {
  min-height: 160px;
  display: table;
  width: 100%;
  margin-bottom: 16px; }

.swatch__meta {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  color: #fff; }

.swatch__hex {
  display: block; }

.example-grid span {
  display: block;
  background: #eee;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px; }
  .example-grid span:hover {
    background: #ccc; }

/*# sourceMappingURL=maps/origin.css.map */
