@font-face {
  font-family: 'Walsheim-Bold';
  font-weight: 400;
  src: url("../src/fonts/GT-Walsheim-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../src/fonts/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"), url("../src/fonts/GT-Walsheim-Bold.woff2") format("woff2"), url("../src/fonts/GT-Walsheim-Bold.woff") format("woff"), url("../src/fonts/GT-Walsheim-Bold.ttf") format("truetype"), url("../src/fonts/GT-Walsheim-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Walsheim';
  font-weight: 100;
  src: url("../src/fonts/GT-Walsheim-Light.eot");
  /* IE9 Compat Modes */
  src: url("../src/fonts/GT-Walsheim-Light.eot?#iefix") format("embedded-opentype"), url("../src/fonts/GT-Walsheim-Light.woff2") format("woff2"), url("../src/fonts/GT-Walsheim-Light.woff") format("woff"), url("../src/fonts/GT-Walsheim-Light.ttf") format("truetype"), url("../src/fonts/GT-Walsheim-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

/*# sourceMappingURL=maps/variables.css.map */
