article {
	position: relative;
    padding-bottom: $section-spacing*3;

    @include media-breakpoint-up(md) {
        padding-bottom: $section-spacing*2;
    }

    .blog-header {
        position: relative;
        padding: $section-spacing*3 0 $section-spacing/1.5 0;
        background: get-color(brand, brand-blue);
        color: white;
        margin-bottom: $section-spacing/2;
        @include media-breakpoint-up(md) {
            padding: $section-spacing*1.5 0 $section-spacing/1.5 0;
        }

        a {
            color: white;
            font-family: font-stack(bold);
            text-decoration: none;
            font-size: 80%;
            margin-bottom: $section-spacing/1.5;
            display: block;
        }
        
        .time-date {
            font-size: 70%;
        }

        h1 {
            text-align: left !important;
            margin-top: 0.5em;
            color: white;
        }
    }

	h2 {
        text-align: left;
        margin: 0 0 0.5em 0 !important;
    }
    
    .image-apple {
        position: absolute;
        width: 200px;
        right: 10%;
        bottom: 0;
        transform: translateY(10px);
        z-index: 9;

        @include media-breakpoint-up(md) {
            width: 460px;
            transform: translateY(20px);
        }
    }
}