// =============================================================================
// Forms
// =============================================================================

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	// height: 38px;
	padding: 20px 15px 30px 15px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 0;
	box-shadow: none;
	box-sizing: border-box;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}

textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	outline: 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	box-sizing: border-box;
	padding: 20px 30px;
	color: white;
	line-height: 1.4em;
	background-color: get-color(brand, dark-grey);
	font-family: font-stack(bold);
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	transition: all .3s ease;
	border: 0;
}

input[type="submit"].center,
input[type="reset"].center,
input[type="button"].center {
	margin: 0 auto;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	background: black;
	text-decoration: none;
	color: #fff;
}

 .required {
	 color: #BF5D58;
 }



.standard {

    &--form {
        position: relative;

        &__field {
            display: block;
            position: relative;
            margin: 0 5px 30px 0;
            input {
                transition: .1s all linear;
            }
            label {
                position: absolute;
                top: 13px;
                left: 15px;
                transition: .1s all linear;
                cursor: text;
            }
            &.active label {
                top: -22px;
                font-size: .5em;
                opacity: 1;
                left: 0px;
            }
        }

        input[type="text"],
        input[type="email"], {
            width: 100%;
        }
    }
}