// =============================================================================
// Headings
// =============================================================================

h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: font-stack(bold);
	color: get-color(text, base);
	line-height: 1.1;
    text-rendering: optimizelegibility;
	margin-bottom: 1em;
	margin-top: 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6, * + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6 {
	margin-top: 1.4em; 
}

h1, .h1 {@include font-h1; text-align: center;}
h2, .h2 {@include font-h2;}
h3, .h3 {@include font-h3; line-height: 1.3;}
h4, .h4 {@include font-h4; line-height: 1.3;}