// =============================================================================
// Images
// =============================================================================

img {
	max-width: 100%;
	vertical-align: middle;
}

.gm-style img,
img[width],
img[height] {
	max-width: none;
}

/* Images */
.entry-content img,
.comment-content img,
.widget img {
    max-width: 100%;
}
img[class*="align"],
img[class*="wp-image-"] {
    height: auto;
}
img.size-full {
    max-width: 100%;
    width: auto;
}
