// =============================================================================
// Links
// =============================================================================

a {
	color: get-color(brand, dark-grey);
	text-decoration: underline;
}

a:focus,
a:hover {
	color: get-color(text, hover);
	text-decoration: underline;
}
