// =============================================================================
// Page
// =============================================================================

body {
	background-color: get-color(background, white);
	color: get-color(brand, dark-grey);
	font-family: font-stack(body);
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include font-body;
}

body {
    position: relative;
    &.is-open {
        overflow: hidden;
    }
    overflow-x: hidden;
}


main {
	position: relative;
	padding: $section-spacing*3 0 $section-spacing*1.5 0;
    @include media-breakpoint-up(md) {
		padding: $section-spacing*1.5 0;
		
    }
}

::selection {
	background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #ffb7b7; /* Gecko Browsers */
}


.angle {
	position: absolute;
	width: 100%;
	height: 50px;
	overflow: hidden;
	left: 0;
	@include media-breakpoint-up(sm) {
        height: 60px;
	}
	@include media-breakpoint-up(md) {
        height: 100px;
	}
	@include media-breakpoint-up(lg) {
        height: 150px;
	}
	@include media-breakpoint-up(xl) {
        height: 150px;
	}
	&:after {
		content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        width: 0;
        height: 0;
		border-style: solid;	
		border-width: 20px 51vw;
		@include media-breakpoint-up(sm) {
			border-width: 30px 51vw;
		}
		@include media-breakpoint-up(md) {
			border-width: 50px 51vw;
		}
		@include media-breakpoint-up(lg) {
			border-width: 60px 51vw;
		}
		@include media-breakpoint-up(xl) {
			border-width: 70px 51vw;
		}		
	}
}
.angle-yellow {
	&:after {
		border-color: transparent get-color(brand, brand-yellow) get-color(brand, brand-yellow) transparent;
	}
}
.angle-green {
	&:after {
		border-color: transparent get-color(brand, brand-green) get-color(brand, brand-green) transparent;
	}
}
.angle-blue {
	&:after {
		border-color: transparent get-color(brand, brand-blue) get-color(brand, brand-blue) transparent;
	}
}
.angle-grey {
	&:after {
		border-color: transparent get-color(brand, light-grey) get-color(brand, light-grey) transparent;
	}
}
.angle-orange {
	&:after {
		border-color: transparent get-color(brand, brand-orange) get-color(brand, brand-orange) transparent;
	}
}

.angle-top {
	top: -50px;
	@include media-breakpoint-up(sm) {
		top: -60px;
	}
	@include media-breakpoint-up(md) {
		top: -100px;
	}
	@include media-breakpoint-up(lg) {
		top: -150px;
	}
	@include media-breakpoint-up(xl) {
		top: -150px;
	}	
}
.angle-bottom {
	bottom: 0;
	z-index: 0;
}

.angle-down {
	transform: scaleX(-1);
}

.section-yellow {
	background: get-color(brand, brand-yellow);
}

.section-grey {
	background: get-color(brand, darl-grey);
}

.section-green {
	background: get-color(brand, brand-green);
}

.section-blue, .section-grey {
	color: white;
	h1, h2, h3, h4, p, a {
		color: white;
	}
}
.section-blue {
	background: get-color(brand, brand-blue);
}
.section-orange {
	background: get-color(brand, brand-orange);
}

.section {
	padding: $section-spacing 0;
}