// =============================================================================
// Paragraphs
// =============================================================================

p, ul {
	margin-bottom: 1.4em;
	margin-top: 0;
	@include font-p;
}

p.lead {
	font-size: 120%;
}

strong {
	font-family: font-stack(bold);
}
