.accordion {

    &--item {
        margin-bottom: 0.75em;
        &__toggle {
            cursor: pointer;
            position: relative;
            display: block;
            padding: 0 0 0 1em;
            background: get-color(brand, brand-green);
            font-family: font-stack(bold);
            line-height: 3;

            &:after {
                position: absolute;
                right: 1em;
                top: 0;
                display: block;
                width: 1em;
                // height: 3em;
                line-height: 3;
                text-align: center;
                -webkit-transition: all .35s;
                -o-transition: all .35s;
                transition: all .35s;
                content: url("../images/accordion-open.svg");
            }
        }
        &__content {
            display: none;
            background: get-color(brand, brand-green);
            padding: 1em;
    
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
  
  /* Acordeon styles */
.accordion {
    .tab {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
        overflow: hidden;
    }
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    label {
        position: relative;
        display: block;
        padding: 0 0 0 1em;
        background: get-color(brand, brand-green);
        font-family: font-stack(bold);
        line-height: 3;
        cursor: pointer;
    }
    .blue label {
        background: #2980b9;
    }
    .tab-content {
        max-height: 0;
        overflow: hidden;
        background: get-color(brand, brand-green);
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
    }
    .tab-content p {
        margin: 1em;
    }
    /* :checked */
    input:checked ~ .tab-content {
        max-height: 30em;
    }
    /* Icon */
    label::after {
        position: absolute;
        right: 1em;
        top: 0;
        display: block;
        width: 1em;
        // height: 3em;
        line-height: 3;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
    }
    input[type=checkbox] + label::after {
        content: url("../images/accordion-open.svg");
    }
    input[type=checkbox]:checked + label::after {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipW;
        -ms-filter: "FlipW";
    }
}