.ambassadors {
    padding: 0 0 $section-spacing 0;
    background: white;

    h2 {
        text-align: center;
    }

    .ambassadors-list {
        padding: $section-spacing/2 0;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        &--item {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 10px;

            @include media-breakpoint-up(md) {
                flex: 0 0 25%;
                max-width: 25%;
            }

            &__image {
                img {
                    position: relative;
                }
            }
            &__content {
                margin: $spacing 0 $spacing*2 0;
                @include media-breakpoint-up(md) {
                    margin: $spacing*3 0 0 0;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
}