.banner {

    h1, h2 {
        text-align: left;
    }
    &--home {
        padding: $section-spacing*4 0 $section-spacing*2 0;
        background-color: get-color(background, green-bright);
        position: relative;
        z-index: 0;
        @include media-breakpoint-up(sm) {
            padding: $section-spacing*2 0 $section-spacing*2 0;    
        }
        @include media-breakpoint-up(md) {
            padding: $section-spacing*1.5 0 $section-spacing*2 0;   
        }

        h1 {
            br {
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        &__image {
            position: absolute;
            transform: translateY(-25%);
            width: 100%;
            @include media-breakpoint-up(md) {
                transform: translateY(-30%);    
            }
        }
        p {
            position: relative;
            z-index: 1;
            margin-bottom: 3em;
            @include media-breakpoint-up(sm) {
                margin-bottom: 1.4em;
            }
        }
    }

    &--about {
        padding: $section-spacing*4 0 $section-spacing 0;
        background-color: get-color(brand, dark-grey);
        @include media-breakpoint-up(sm) {
            padding: $section-spacing*2 0 $section-spacing 0;    
        }

        img {
            margin-bottom: 50px;
        }
    }
}