.blog {
    position: relative;
    padding: $section-spacing*3 0 $section-spacing*1.5 0;
    @include media-breakpoint-up(md) {
        padding: $section-spacing*2 0 $section-spacing 0;
    }

    h2 {
        @include media-breakpoint-up(md) {
            font-size: 1.85em;
        }
    }

    .image-computer {
        margin-top: 0px;
        @include media-breakpoint-up(md) {
            margin-top: 0px;
        }
        @include media-breakpoint-up(lg) {
            margin-top: -10%;
        }
    }
}
.blog-list {
    padding: $section-spacing 0;
    position: relative;
    background: get-color(brand, brand-blue);

    p, a, h1, h2, h3, h4 {
        color: white;
        text-decoration: none;
    }

    &--item {
        margin-bottom: 60px;
        display: block;
        h2, h3 {
            margin: 0;
        }

        .time-date {
            font-size: 70%;
            margin: 10px 0;
            @include media-breakpoint-up(md) {
                margin: 20px 0;
            }
        }
        .wp-post-image {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        &:hover {
            // background-color: rgba(255,255,255, 0.1); 
            h2, h3 {
                text-decoration: underline;
            }
        }
    }
}