// =============================================================================
// Buttons
// =============================================================================

.btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 20px 30px;
	color: white;
	background-color: get-color(brand, dark-grey);
	font-family: font-stack(bold);
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	transition: all .3s ease;

	&:hover, &:focus {
		outline: 0;
		color: white;
		text-decoration: none;
		background-color: #000000; 
		transition: all .3s ease;
	}
}
