/* Slider */

.testimonial-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    .slick-slide {
        padding: 0;
    }
    .slick-next {
        right: 10px;
        @include media-breakpoint-up(md) {
            right: 10px;
        }
        @include media-breakpoint-up(lg) {
            right: 50px;
        }
    }
    .slick-prev {
        margin-left: 30px;
        left: 10px;
        margin-left: 0;
        z-index: 1;
        @include media-breakpoint-up(md) {
            left: 33.33333%;
            margin-left: 10px;
        }
        @include media-breakpoint-up(lg) {
            left: 33.33333%;
            margin-left: 50px;
        }
    }
    .slick-prev,
    .slick-next {
        height: 40px;
        width: 20px;
        opacity: 0.6;
        @include media-breakpoint-up(md) {
            height: 80px;
            width: 40px;
        }


        &:hover {
            opacity: 1;
        }
    }
}
.testimonial-slider .slick-track,
.testimonial-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-testimonials {
    padding: $section-spacing 0 $section-spacing 0;
    position: relative;
    // margin: 0 -10px;
    @include media-breakpoint-up(md) {
        margin: 0;
    }

    &--item {
        display: flex !important;
        // padding: 0 10px;
        @include media-breakpoint-up(md) {
            padding: 0;
        }

        &__content {
            order: 1;
            flex: 0 0 100%;
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            background: #f2f2f2;
            border-radius: 30px;
            padding: 30px 40px;
            position: relative;
            @include media-breakpoint-up(md) {
                flex: 0 0 66.66667%;
                max-width: 66.66667%;
                margin-left: 8.3333%;
                border-radius: 50px;
                padding: 50px 80px;
            }
            @include media-breakpoint-up(lg) {
                flex: 0 0 66.66667%;
                max-width: 66.66667%;
                margin-left: 8.3333%;
                border-radius: 50px;
                padding: 50px 140px;
            }
            &:after {
                content: '';
                display: inline;
                position: absolute;
                left: 40px;
                top: 0px;
                border: 40px solid transparent;
                border-bottom-color: #f2f2f2;
                border-right: 0;
                border-top: 0;
                transform: translateY(-40px);

                @include media-breakpoint-up(md) {
                    left: 0;
                    top: 120px;
                    border: 120px solid transparent;
                    border-right-color: #f2f2f2;
                    border-left: 0;
                    border-bottom: 0;
                    transform: translateX(-120px);
                }
            }
            
            .content {
                display: block;
                font-style: italic;
                margin-bottom: 1.4em;
            }

            p {
                &:last-child {
                    margin: 0;
                }
            }
        }

        &__image {
            flex: 0 0 30%;
            max-width: 30%;
            order: 1;
            position: absolute;
            left: 50%;
            display: none;

            @include media-breakpoint-up(sm) {
                display: block;
                max-width: 20%;
            }
            
            @include media-breakpoint-up(md) {
                flex: 0 0 25%;
                max-width: 25%;
                order: 1;
                margin-top: auto;
                position: relative;
                left: 0;
            }
        }
    }
}