/* Slider */

.supported-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    padding: 0 50px;
    @include media-breakpoint-up(md) {
        padding: 0 90px;
    }
    @include media-breakpoint-up(lg) {
        padding: 0 70px;
    }
    @include media-breakpoint-up(xl) {
        padding: 0 60px;
    }
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.supported-slider .slick-track,
.supported-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.supported {
    padding: $section-spacing 0;
    text-align: center;
    background: white;
}

.carousel-supported {
    background: none;
}