.contact {
    padding: $section-spacing*3 0 $section-spacing*1.5 0;
    @include media-breakpoint-up(md) {
        padding: $section-spacing*2 0 $section-spacing 0;
    }

    &--image {
        width: 70%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-up(md) {
            width: 40%;
        }
    }
}

.contact-details {
    padding: $section-spacing/2 0 $section-spacing 0;
    position: relative;
}