.standard {

    &--form {
        position: relative;

        &__field {
            display: block;
            position: relative;
            margin: 0 5px 30px 0;
            input {
                transition: .1s all linear;
            }
            label {
                position: absolute;
                top: 13px;
                left: 15px;
                transition: .1s all linear;
                cursor: text;
            }
            &.active label {
                top: -22px;
                font-size: .5em;
                opacity: 1;
                left: 0px;
            }
        }

        input[type="text"],
        input[type="email"], {
            width: 100%;
        }
    }
}