// =============================================================================
// Footer
// =============================================================================

[role=contentinfo] {
	background: #D9D9D9;
	position: relative;
	// display: flex;
	.wrapper {
		display: flex;
		align-items: center;
		padding: $spacing*2 30px;
		flex-direction: column;

		@include media-breakpoint-up(md) {
			padding: $spacing*5 30px;
            flex-direction: row; 
        }
	}
	.logo {
		width: 280px;
		max-width: 180px;
		display: inline-block;
		margin-right: 0;

		@include media-breakpoint-up(md) {
			max-width: 280px;
			margin-right: $spacing*3;
        }
		img {
			width: 100%;
		}
	}

	.footer-links {
		margin-left: 0;
		display: flex;
		flex-direction: column;
		text-align: center;

		@include media-breakpoint-up(md) {
			margin-left: auto;
			text-align: left;
			flex-direction: row; 
        }

		nav {
			margin: 30px 0;
			@include media-breakpoint-up(md) {
				margin: 0 $spacing*4 0 0;
			}
	
			ul {
				list-style-type: none;
				padding-left: 0;
				margin: 0;
	
				li {
					padding-left: 0;
					margin-left: 0;
					a {
						color: get-color(brand, dark-grey);
						opacity: 0.6;
						text-decoration: none;
						
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.footer-social {
			margin-top: auto;
			display: flex;
			align-content: center;
			
			a {
				width: 40px;
				margin-right: $spacing;
	
				&:last-child {
					width: 45px;
					margin-right: 0;
				}
			}
		}
	}
}
