// =============================================================================
// Header
// =============================================================================
.page-template-template-about {
	nav a {
		color: white;
		@include media-breakpoint-down(md) {
			color: get-color(brand, dark-grey);
		}
	}
	.menu-button {
		color: white;
		&:hover, &:focus {
			color: white !important;
		}
		svg {
			.svg-fill {
				fill: white !important;
			}
		}
	}
	.menu-button--open {
		color: get-color(brand, dark-grey);
		&:hover, &:focus {
			color: get-color(brand, dark-grey) !important;
		}
		svg {
			.svg-fill {
				fill: get-color(brand, dark-grey) !important;
			}
		}
	}
	.sub-menu li a {
		color: get-color(brand, dark-grey);
	}
}
.is-open {
	[role=banner] {
		position: fixed;
	}	
}
[role=banner] {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	z-index: 1;
	@include media-breakpoint-down(md) {
		//position: fixed;
	}
	.wrapper {
		display: flex;
		align-items: center;
		padding: 60px 30px;
	}

	.logo {
		width: 280px;
		max-width: 180px;
		position: absolute;
		top: 30px;
		display: inline-block;
		z-index: 2;
		@include media-breakpoint-up(lg) {
			position: relative;
			max-width: 280px;
			top: 0px;
        }
		img {
			width: 100%;
		}
	}

	nav {
		margin-left: auto;

		.menu-button {
			font-size: 16px;
			text-transform: uppercase;
			text-decoration: none;
			font-family: font-stack(bold);
			position: absolute;
			right: 30px;
			top: 40px;
			z-index: 2;
			display: flex;

			&:hover, &:focus {
				color: get-color(brand, dark-grey);
			}

			svg {
				margin-left: 10px;
				margin-top: 4px;
				fill: get-color(brand, dark-grey);
				.svg-fill {
					fill: get-color(brand, dark-grey);
				}
			}
			.svg-open {
				display: block;
			}
			.svg-close {
				display: none;
			}

			&--open {
				.svg-open {
					display: none;
				}
				.svg-close {
					display: block;
				}
			}

			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
		ul.menu {
			list-style-type: none;
			padding: 0;
			margin: 0;
			
			@include media-breakpoint-down(md) {
				position: fixed;
				background: white;
				left: 0;
				top: 0;
				height: 100vh;				
				flex-direction: column;
				width: 100%;
				z-index: 1;
				padding-top: 30%;
				display: flex;
				visibility: hidden;
				opacity: 0;
				transition: all .2s ease-in-out;
			}
			li {
				display: inline-block;
				a {
					padding: 15px;
					text-decoration: none;

					@include media-breakpoint-down(md) {
						width: 100%;
						display: block;
						text-align: center;
						font-size: 30px;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}

			.sub-menu {
				position: absolute;
				min-width: 200px;
				background: get-color(background, white);
				z-index: 5;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				margin: 0;
				padding: 0;
				padding: 15px 20px;
				border-radius: 5px;
				transform: translateY(0) translateX(-30%);
				opacity: 0;
				visibility: hidden;
				transition: .2s ease;
				// @include media-breakpoint-up(lg) {
				// 	visibility: visible;
				// }
				li {
					a {
						display: inline-block;
						padding: 10px 0;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		.menu-show {
			visibility: visible !important;
			opacity: 1 !important;
		}
	}
}

ul.menu li:hover>.sub-menu {
	opacity: 1;
	visibility: hidden;
    transform: translateY(10px) translateX(-30%);
	transition: .2s ease;
	@include media-breakpoint-up(lg) {
		visibility: visible;
	}
}