.jobs {
    position: relative;
    padding: $section-spacing*3 0 $section-spacing*1.5 0;
    @include media-breakpoint-up(md) {
        padding: $section-spacing*2 0 $section-spacing/2 0;
    }

    h2 {
        @include media-breakpoint-up(md) {
            font-size: 1.85em;
        }
    }

    .image-jobs {
        margin-top: 0px;
        @include media-breakpoint-up(md) {
            margin-top: 0px;
        }
        @include media-breakpoint-up(lg) {
            margin-top: -10%;
        }
    }

    &-list {
        padding: $section-spacing/1.5 0 0 0;
        background: white;

        .image-job-people {
            max-width: 400px;
            transform: translateY(40px);
        }
    }
}