.media-kit {
    padding: $section-spacing/1.5 0 $section-spacing 0;
    position: relative;

    img {
        margin-bottom: $spacing*2;
        @include media-breakpoint-up(md) {
            margin-bottom: $spacing*6;
        }
    }

    // .btn {
    //     margin-bottom: $spacing*2;
    //     @include media-breakpoint-up(md) {
    //         margin-bottom: $spacing*6;
    //     }
    // }
}