.pagination {
    .screen-reader-text {
        display: none;
    }

    .nav-links {
        text-align: center;

        .page-numbers {
            background: rgba(255,255,255, 0.5);
            padding: 10px 0;
            width: 45px;
            display: inline-block;
            color: get-color(brand, dark-grey);
            font-size: 20px;

            &:hover {
                background: rgba(255,255,255, 1);
            }
        }
        .prev, .next {
            display: none;
        }
        .current {
            background: rgba(255,255,255, 1);
            padding: 10px 17px;
            // font-family: font-stack(bold);
        }
    }
}