.products {
    position: relative;
    padding: $section-spacing 0 $section-spacing*1.5 0;
    h1, h2 {
        margin-bottom: $section-spacing;
    }
    h2 {
        text-align: center;
    }
}
.products-page {
    position: relative;
    padding: $section-spacing*3 0 $section-spacing*1.5 0;
    @include media-breakpoint-up(md) {
        padding: $section-spacing*1.5 0;
    }
    h1, h2 {
        margin-bottom: $section-spacing;
    }
}

.products-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include media-breakpoint-up(sm) {
        flex-direction: row;
    }
    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    .col-sm-3, .col-12 {
        padding: 0;
    }
    p {
        margin-top: $spacing;
        margin-bottom: $spacing*4;
        @include media-breakpoint-up(md) {
            margin-top: $spacing*2;
        }
    }

    a {
        font-weight: font-weight(bold);
        text-decoration: none;
        .h3 {
            color: white;
        }

        &:hover {
            .products-list--item__image {
                background-color: get-color(brand, brand-orange); 
                transition: background .4s ease;
                img {
                    top: -40px;
                    transition: top .4s ease;
                }
            }
        }
    }

    &--item {
        padding: 0;
        margin-bottom: $spacing*2;
        @include media-breakpoint-up(md) {
            margin: 0;
        }

        span br {
            display: none;
            @include media-breakpoint-up(sm) {
                display: inline-block;
            }
        }

        &__image {
            background-color: get-color(background, white);
            border: 20px solid #F2F2F2;
            border-width: 20px 20px 60px 20px;
            height: 100vw;
            max-height: 302px;
            text-align: center;
            margin-bottom: $spacing;
            transition: background .4s ease;
            @include media-breakpoint-up(sm) {
                margin-bottom: $spacing*2;
                height: 22vw;
                border-width: 10px 10px 30px 10px;
            }
            @include media-breakpoint-up(md) {
                margin-bottom: $spacing*2;
                height: 22vw;
                border-width: 20px 20px 60px 20px;
            }

            img {
                top: -30px;
                position: relative;
                transition: top .4s ease;
            }

            .image-app {
                width: 60%;
                max-width: 180px;
            }
            .image-schools {
                width: 280px;
            }
            .image-cards {
                width: 280px;
            }
        }
    }
}

.products-app {
    .image-app {
        width: 80%;
        padding: 0 30px 30px 30px;
    }
}

.products-schools {
    .wrapper {
        position: relative;
    }
    .image-dreaming {
        width: 100%;
        display: block;
        margin: 0 auto;
        position: relative;
        @include media-breakpoint-up(sm) {
            width: 40%;
            margin: -18% 0 0 0;
            position: absolute;
        }
    }
    .image-schools {
        position: absolute;
        padding: 0 30px;
        height: 350px;
        right: 0;
        z-index: 9;
    }
}

.products-challenges {
    padding: 300px 0 $section-spacing 0;
    position: relative;
    @include media-breakpoint-up(md) {
        padding: 350px 0 300px 0;
    }
    @include media-breakpoint-up(lg) {
        padding: 200px 0 300px 0;
    }

    .image-secretary {
        padding: 0 50px 0 30px;
        @include media-breakpoint-up(md) {
            padding: 0 80px 0 30px;
        }
        @include media-breakpoint-up(lg) {
            padding: 0 140px 0 30px;
        }
    }
    .image-playing {
        padding: 0 30px 0 0;
        margin: 60px 0;
    }
    .image-mirror {
        padding: 0 30px 0 0;
    }
    .image-apple {
        position: absolute;
        width: 460px;
        right: 0;
        bottom: 0px;
        transform: translateY(330px);
        z-index: 9;
        display: none;

        @include media-breakpoint-up(md) {
            display: inline-flex;
        }
    }
}

.products-games {
    padding: $section-spacing*3 0 $section-spacing*1.5 0;
    @include media-breakpoint-up(md) {
        padding: $section-spacing*1.5 0 $section-spacing 0;
    }
    .trumps-packs {
        margin-top: $spacing*4;
    }
    &--board {
        padding: $section-spacing/2 0 $section-spacing 0;
    }
}

.image-resize {
    padding: 0 60px;
}