.social-purpose {
    padding: $section-spacing/1.5 0 $section-spacing 0;
    h2 {
        text-align: center;
        margin-bottom: $section-spacing;
    }

    .image-plant {
        margin-bottom: 30px;
    }

    .image-watering {
        width: 65%;
        transform: translate(0, -250%);
        margin-bottom: $section-spacing;
        position: absolute;
        right: 0;

        @include media-breakpoint-up(md) {
            position: relative;
            width: 80%;
            transform: translateX(-20%); 
        }
    }

    h2 {
        text-align: center;
    }
}