.team {
    background: white;
    padding: $section-spacing 0;

    h2 {
        text-align: center;
    }

    &-member {
        margin-bottom: $spacing*2;
        @include media-breakpoint-up(md) {
            margin-bottom: $spacing*4;
        }

        &:nth-child(odd) {
            .team-member--image {
                order: 0;
                margin-left: 0;
                @include media-breakpoint-up(sm) {
                    order: 1;
                    margin-left: 8.33333%;
                }
            }
            .team-member--content {
                padding-left: 8.33333%;
            }
        }
        &--image {
            text-align: center;
            padding: 0 30px;
            img {
                max-height: 220px;
                top: -20px;
                position: relative;
                @include media-breakpoint-up(sm) {
                    top: 0px;
                    max-height: 380px;
                }
            }
        }
        &--image-bob {
            text-align: center;
            padding: 0 30px;
            order: 0;
            @include media-breakpoint-up(sm) {
                order: 1;
                // margin-left: 8.33333%;
            }
            img {
                max-height: 220px;
                top: -20px;
                position: relative;
                @include media-breakpoint-up(sm) {
                    top: 0px;
                    max-height: 480px;
                }
            }
        }
        &--content {
            padding: $spacing*2;
            padding-bottom: calc(32px - 20px);
            top: -20px;
            position: relative;
            @include media-breakpoint-up(sm) {
                padding: $spacing*3 0 $spacing*5 0;
                top: 0;
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        p {
            margin-bottom: $spacing;
            font-size: 80%;
        }
        background: get-color(brand, light-grey);
    }
}