.testimonials {
    position: relative;
    background: get-color(brand, brand-green);
    padding: $section-spacing*3 0 $section-spacing*1.5 0;
    z-index: 0;
    @include media-breakpoint-up(md) {
        padding: $section-spacing*1.5 0;
    }

    &--background {
        position: absolute;
        width: 100%;
        top: 25%;
        height: 50%;
        z-index: -1;
    }

    &--item {
        margin-bottom: $spacing*4;
        display: flex;
        margin-top: 180px;

        &:nth-child(odd) {
            .testimonials--item__image {
                order: 2;
            }
            .testimonials--item__content {
                order: 1;
                margin-right: 8.3333%;
                margin-left: 0;
                &:after {
                    content: '';
                    position: absolute;
                    right: 40px;
                    left: auto;
                    top: 0px;
                    width: 0;
                    height: 0;
                    border: 40px solid transparent;
                    border-bottom-color: #f2f2f2;
                    border-left: 0;
                    border-top: 0;
                    transform: translateY(-40px);

                    @include media-breakpoint-up(md) {
                        left: auto;
                        top: 200px;
                        width: 0;
                        height: 0;
                        border: 120px solid transparent;
                        border-left-color: #f2f2f2;
                        border-right: 0;
                        border-top: 0;
                        transform: translateX(120px);
                    }
                }
            }
        }

        &__image {
            flex: 0 0 30%;
            max-width: 30%;
            order: 1;
            position: absolute;
            transform: translate(-50%, -90%) scaleX(-1);
            left: 50%;

            @include media-breakpoint-up(sm) {
                max-width: 20%;
            }
            
            @include media-breakpoint-up(md) {
                flex: 0 0 25%;
                max-width: 25%;
                order: 1;
                margin-top: 60px;
                position: relative;
                transform: translate(0, 0);
                left: 0;
            }
        }
        &__content {
            order: 1;
            flex: 0 0 100%;
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            background: #f2f2f2;
            border-radius: 30px;
            padding: 30px;
            position: relative;
            @include media-breakpoint-up(md) {
                flex: 0 0 66.66667%;
                max-width: 66.66667%;
                margin-left: 8.3333%;
                border-radius: 50px;
                padding: 50px;
            }
            &:after {
                content: '';
                display: inline;
                position: absolute;
                left: 40px;
                top: 0px;
                border: 40px solid transparent;
                border-bottom-color: #f2f2f2;
                border-right: 0;
                border-top: 0;
                transform: translateY(-40px);

                @include media-breakpoint-up(md) {
                    left: 0;
                    top: 200px;
                    border: 120px solid transparent;
                    border-right-color: #f2f2f2;
                    border-left: 0;
                    border-top: 0;
                    transform: translateX(-120px);
                }
            }
            
            .content {
                display: block;
                font-style: italic;
                margin-bottom: 1.4em;
            }

            p {
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}
.testimonials-kids {
    padding: $section-spacing/1.5 0 0 0;
    position: relative;

    &--item {
        &__content {
            background: #f2f2f2;
            border-radius: 30px;
            padding: 30px;
            position: relative;
            @include media-breakpoint-up(md) {
                border-radius: 50px;
                padding: 50px;
            }
            &:after {
                content: '';
                display: none;
            }
            &:before {
                content: url("../images/testimonial-kids-speech.svg");
                position: absolute;
                bottom: 2px;
                left: 50%;
                transform: translate(-50%, 100%);
                width: 80%;
            }
            .content {
                display: block;
                font-style: italic;
                margin-bottom: 1.4em;
            }
        }

        img {
            position: relative;
            margin-top: -50px;
            @include media-breakpoint-up(md) {
                margin-top: -150px;
            }
        }
    }
}