.video {
    padding: $section-spacing*4 0 $section-spacing 0;
    text-align: center;
    position: relative;

    @include media-breakpoint-up(md) {
        padding: $section-spacing*2.5 0 $section-spacing 0;    
    }

    &--container {
        position: relative;
        margin-bottom: $spacing*2;
        @include media-breakpoint-up(md) {
            margin-bottom: $spacing*4;
        }

        &__video {
            width: 100%;
            height: auto;
            height: 0;
            padding-top: 25px;
            padding-bottom: 67.5%;
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;
            embed, iframe, object, video {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
        &__placeholder {
            height: 200px;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @include media-breakpoint-up(sm) {
                height: 350px;
            }
            @include media-breakpoint-up(md) {
                height: 700px;
            }
        }
        &__image {
            width: 200px;
            position: absolute;
            left: -40px;
            bottom: -30px;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
}

.app-video {
    padding: $section-spacing*2 0 $section-spacing/2 0;
    position: relative;
    @include media-breakpoint-up(md) {
        padding: $section-spacing 0 $section-spacing/2 0;
    }

    &--container {
        position: relative;
        margin-bottom: $spacing*4;


        &__video {
            width: 100%;
            height: auto;
            height: 0;
            padding-top: 25px;
            padding-bottom: 67.5%;
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;
            embed, iframe, object, video {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }


        &__image {
            position: absolute;
            left: 0px;
            bottom: 0px;
        }
    }

}