@function px-em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

// Font mixins
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);
	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $min-vw) {
				font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}

	@else {
		@error "Detected mixed units. Please use the same units for all parameters. " + $u1 +", " + $u2 + ", " + $u3 +", "+ $u4;
	}
}

@mixin font-h1 {
	@include fluid-type(320px, 1200px, 28px, 50px);
}

@mixin font-h2 {
	@include fluid-type(320px, 1200px, 24px, 50px);
}

@mixin font-h3 {
	@include fluid-type(320px, 1200px, 20px, 40px);
}

@mixin font-h4 {
	@include fluid-type(320px, 1200px, 18px, 30px);
}

@mixin font-p {
	@include fluid-type(320px, 1200px, 18px, 30px);
}
@mixin font-body {
	@include fluid-type(320px, 1200px, 18px, 30px);
}