// =============================================================================
// Wrappers
// =============================================================================

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 $spacing*2;

	&--outer {
		position: relative;
		max-width: 1900px;
		margin: 0 auto;
		background-color: get-color(background, lightgrey);
	}
}


